.tete
{
    background-color: grey;
    margin-top: 20px;
    margin-left: 240px;
    
}
p
{
    text-align: center;
    background-color: blue;
}
.fin
{
    text-align: right;
    background-color: blue
    
}