body {
    height: 100vh;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab  {
    border-collapse: collapse;
    border: 2px solid midnightblue;
}

.head{
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}

tr, td {
    padding: 15px 20px;
    text-align: center;
}
tr, td{
    border: 1px solid #ddd;
}



